# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/tfplan
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment files with real values
.env

# OS
.DS_Store

.vscode/
.vscode

.adk/

toolbox